<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QL_ShopThoiTrangConnectionString"
            connectionString="Data Source=DESKTOP-DJT45HV\SQLEXPRESS;Initial Catalog=QL_ShopThoiTrang;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>